__pycache__/
venv/
.idea/
/guide/dnn_model/
/iris.csv
/streamlitty_1.py
#/data/quick_split/
/data/final_split/data.csv
/models/m*
/train_test/X*.*
/train_test/y*.*
/data/df_listings.csv
/data/quick_split/data.csv
/data/source/
old/
old/*
*_old/
*_old/*
*old.*
offline/
.ipynb_checkpoints/
/process/z_envs/_*.*
#/process/z_envs/_envs.json
process/E_train_model/iteration06/catboost_info/
